<%- include('./partials/page-header.ejs'); %>

<style>
    table,
    th,
    td {
        border: 1px solid rgb(0, 0, 0);
    }
</style>

</head>

<body>

    <form method="POST" action="/postAdaugaElement">
        <table style="width:100%">
            <tr>
                <% coloane.forEach(function(coloana) { %>

                    <th>
                        <%= coloana.name %>
                    </th>

                    <% }); %>
            </tr>

                <tr>
                    <% coloane.forEach(function(coloana, index) { %>

                        <td>

                                    <input type="text" name="<%=coloana.name%>" value = "">
                                
                            
                        </td>

                        <% }); %>
                </tr>

        </table>

        <input type="hidden" name="_tabela" value="<%=tabela%>">
        <button type="submit">Adauga</button>

    </form>

    <%- include('./partials/page-footer.ejs'); %>