<%- include('./partials/page-header.ejs'); %>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
    <script>

        function setSelectedValue(element){

            document.getElementById('valoareCheiePrimaraStergere').value = element.value;         

        }

    </script>
    <form>
        <table style="width:100%">
            <tr>
                <% coloane.forEach(function(coloana) { %>

                    <th>
                        <%= coloana.name %>
                            <input type="radio" name="coloanaSortare" value="<%= coloana.name %>">
                    </th>

                    <% }); %>
            </tr>

            <% continut.forEach(function(element) { %>
                <tr>
                    <% coloane.forEach(function(coloana, index) { %>

                        <td>
                            <%if (index==0){%>
                                <input type="radio" name="cheiePrimara" value="<%= element[coloana.name] %>" onclick="setSelectedValue(this)">
                                <%} %>
                                    <%= element[coloana.name] %>
                        </td>

                        <% }); %>
                </tr>
                <% }); %>

        </table>


        <input type="hidden" name="tabela" value="<%=tabela%>">
        asc
        <input type="radio" name="tipSortare" value="asc"><br>
        desc
        <input type="radio" name="tipSortare" value="desc"><br>

        <button type="submit">Sorteaza</button>
    </form>

    <form method="POST" action="/stergeColoanaInTabel">
        <input type="hidden" name="numeCheiePrimara" value="<%=coloane[0].name%>">
        <input type="hidden" name="valoareCheiePrimara" value="" id="valoareCheiePrimaraStergere">
        <input type="hidden" name="tabela" value="<%=tabela%>">
        <button type="submit">Sterge Linia Selectata</button>
    </form>
    <%- include('./partials/page-footer.ejs'); %>