<%- include('./partials/page-header.ejs'); %>

</head>

<body>

    <form id="selectare-tabel" method="GET" action="/selectareTabel">
        <h5>Tabele</h5>
        <% tabele.forEach(function(tabel) { %>
            <br>
            <div>
                Nume Tabel: <strong>
                    <%= tabel.Tables_in_onlinegame %>
                </strong>
                <input type="radio" name="tabela" value="<%= tabel.Tables_in_onlinegame %>">
                <br>
            </div>
            <% }); %>
            
            <br><h5>View</h5>

            <%  view.forEach(function(elementView) { %>
            <br>
                <div>
                    Nume View: <strong>
                        <%= elementView.Tables_in_onlinegame %>
                    </strong>
                    <input type="radio" name="tabela" value="<%= elementView.Tables_in_onlinegame %>">
                    <br>
                </div>
                <% }); %>

            <input type="submit" value="Alege">
    </form>

    <a href="/login">Login User</a>
    <br><br>
    
<form id="cautare" method="GET" action="/cautare">
    <h5>Cauta toate conturile care au o suma minima de bani</h5>
    <input type="text" name="value" placeholder="Valoare minima">
    <input type="submit" value="Cauta">

</form>

    <%- include('./partials/page-footer.ejs'); %>